<ion-content [fullscreen]="true">
  <app-header-tab titulo="Tab 4 - Adivina un número"></app-header-tab>
  <ion-list>
    <ion-list-header>
      <ion-label>Adivina un número del 0 al 100</ion-label>
      <ion-button (click)="compruebaNumero()" expand="block">
        Comprobar
      </ion-button>
    </ion-list-header>
    <form #formulario="ngForm">
      <ion-item>
        <ion-label>Número: </ion-label>
        <ion-input name="numeroOculto" type="number" placeholder="Num 0-100" [(ngModel)]="numformulario" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Respuesta: {{mensaje}} </ion-label>
      </ion-item>
    </form>
  </ion-list>
</ion-content>
